*{
	font-family: kanit,sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #D2D6D9;

}

body, html{
	font-family: kanit,sans-serif;
	background: #74888C;
	height: 100%;
}

body{
	margin-bottom: 60px;
}




/****************** HEAD ******************/


#container-navbar{
	padding: 10px;
	max-width: 1500px;
	height: 75px;
	margin: 0 auto 50px auto;
	border-bottom: 4px solid #2C3A40;
}

.navbar-list{
	display: flex;
	list-style: none;
	padding-left: 0;
	margin: 10px auto;
}

.login-list{
	display: flex;
	justify-content: right;
	list-style: none;
	padding-left: 0;
	margin: 10px auto;
}


.nav-pages a{
	font-family: kanit,sans-serif;
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	color: #D2D6D9;
	cursor: default;
	text-decoration: none;
}
.nav-pages a:hover{
	color: #2C3A40;
	text-decoration: none;
	cursor: pointer;
}

.nav-pages i{
	margin: 10px auto;
}

.nav-pages i:hover{
	color: #2C3A40;
	cursor: pointer;
}

.nav-link{
	padding: 0 1rem;
}

.logo-header{
	font-family: kanit,sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	color: #D2D6D9;
	cursor: pointer;
	text-decoration: none;
}

.logo-header:hover{
	color: #2C3A40;
}

.navbar-button{
	margin: 10px auto;
}

.login-button{
	padding: 10px 10px;
	display: flex;
	justify-content: right;
}

a.login-button:hover{
	color: #2C3A40
}

.login-box {
	display: none;
	position: relative;
	background: white;
	border-radius: 6px;
	width: 300px;
	float: right;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 10px;
	margin-top: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.login-box:after {
	border-color: rgba(249, 249, 249, 0);
	border-bottom-color: white;
	border-width: 17px;
	margin-left: 80px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: #2C3A40;
	color: #D2D6D9;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	border-bottom: 2px solid #D2D6D9;
	margin: 0 20px;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 2px solid #D2D6D9;
	margin: 0 20px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
	color: #D2D6D9;
}

#sidebar ul li a:hover{
	color: #74888C;
	text-decoration: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content_admin {
	width: calc(100% - 250px);
	padding: 40px;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	background: #D2D6D9;
	color: #74888C;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
	}
	#content.active {
		width: calc(100% - 250px);
	}
	#sidebarCollapse span {
		display: none;
	}
}

/****************** BODY ******************/

#container-body{
	max-width: 1500px;
	margin: 0 auto;
}

.title{
	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1{
	color: #D2D6D9;
	font-size: 70px;
	font-weight: 700;
	text-align: left;
}

#square{
	width: 500px;
	height: 610px;
	background: #D2D6D9;
}

.square-place{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-home{
	width: 100%;
}


#container-cat{
	max-width: 1000px;
	margin: 50px auto;
	position: relative;
}

.categories-block{
	position: relative;
	margin: 50px auto;
}

.cat-banner{
	transition: .5s ease;
}

.middle{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cat-name{
	font-size: 45px;
	color: #74888C;
	font-weight: 600;
	text-decoration: none;
	transition: color .5s;
}

.categories-block:hover .cat-banner{
	filter: blur(4px);
}

.categories-block:hover .cat-name{
	color: #2C3A40;
}

#container-sign{
	max-width: 1500px;
	margin: 20vh auto;
	display: flex;
	justify-content: center;
}

form{
	margin: 0 60px;
}

.title-signin{
	text-align: center;
	color: #ffffff;
}

.btn-signin{
	background-color: #2603A5 !important;
	border-color: #2603A5 !important;
}

.custom-control-input:checked~.custom-control-label::before {
	color:#fff;
	border-color:#2603A5 !important;
	background-color:#2603A5 !important;
}

.text-form{
	color: #ffffff;
}

#square-signin{
	width: 500px;
	height: auto;
}

#square-signup{
	width: 650px;
	height: auto;
}

.contact-left{
	height: 490px;
	background-color: #2c3a40;
}

.link-contact{
	color: #eeeeee;
}

.link-contact:hover{
	text-decoration: none;
	color: #74888C;
	font-weight: 500;
}

.contact{
	display: flex;
}

.map {
	width: 1100px;
	height: 490px;
	border:0
}

.block-product{
	height: 600px;
}

.block-title{
	padding-top: 5vh;
	text-align: center;
}

.block-img{
	margin: 20px 15px;
}

.block-button{
	padding: 20px;
	display: flex;
	justify-content: center;
}

.block-button button{
	margin: 0 15px;
}

.img-product{
	width: 100%;
	height: 400px;
}

.btn-back{
	text-decoration: none;
	font-weight: 500;
	color: #d2d6d9;
}

.btn-back:hover{
	text-decoration: none;
	color: #4e555b;
}

.one-product-img{
	width: 400px;
	margin: 30px auto auto auto;
}

.one-img{
	width: 100%;
}

.price{
	font-size: 30px;
	font-weight: 500;
}

.name-page{
	color: #434d50;
	text-align: center;
	margin-bottom: 40px;
}

.block-category{
	background-color: #6c757d;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	border-radius: 2px;
	padding: 20px;
	margin: 10px 0;
	border-style: hidden;
}

.block-category th{
	color: #d2d6d9;
}

.td-middle td{
	vertical-align: middle !important;
}


.block-cat-img img{
	width: 300px;
}

.block-prod-img img{
	width: 100px;
}

/****************** FOOTER ******************/

footer{
	max-width: 1500px;
	margin: 80px auto 0 auto;
	color: #D2D6D9;

	width: 100%;
}

.footer-items{
	text-align: center;
}

.contact-info{
	display: flex;
	max-width: 230px;
	margin: 10px auto;
	justify-content: center;
}

.contact-info i{
	margin: auto 10px;
}

.contact-info p{
	margin-bottom: 0;
}

#entertainement{
	border-top: 4px solid #2C3A40;
}

#entertainement p{
	margin: .5rem auto;
	height: 38px;
}

.left-footer ul{
	list-style: none;
	padding-left: 0;
}

.link-footer{
	color: #D2D6D9;
}

.link-footer:hover{
	text-decoration: none;
	color: #2C3A40;
	font-weight: 500;
}

@media screen and (min-width: 1280px) {

	#container-navbar{
		max-width: 1200px;
	}

	#container-body{
		max-width: 1200px;
	}

	#container-sign{
		margin: 0 auto;
	}

	.map{
		width: 100%;
	}

	footer{
		max-width: 1200px;
	}

}
